:root{
  --form-submit-width: 228px;
  --section-height:   750px;
  --section-width:    1170px;
  --section0-dynamic-margin: 350px;
}
*{
    -webkit-box-sizing: border-box;
    /* box-sizing: border-box; */
    box-sizing: border-box;
}
.flex-column-content{
  display:            flex;
  flex-direction:     column;
  flex-grow:          0.5;
}
.bold{
  font-weight: 700;
}
body{
  font-family:         "Roboto", sans-serif;
  margin: 0;
}
#section0{
  height:              var(--section-height);
  background:          url("res/Layer 0/background.png");
  background-position: -500px 0;
  background-size:     cover;
  width:               100%;
  background-color:    #f3f9ff;
  margin-bottom:       120px;
}
.section0-container{
  position:           relative;
  max-width:          var(--section-width);
  margin:             0px auto;
  height:             100%;
}
.section0-container::after{
  content:            '';
  position:           absolute;
  width:              100vw;
  height:             109px;
  background:         url("res/Layer 0/waves.png");
  z-index:            1;
  transform:          scaleX(2);
  bottom:             -90px;
}
.opacity{
  width:              100%;
  height:             100%;
  background:         url("res/Layer 0/opacity.png") no-repeat;
  background-size:    100% 100%;
}
.section0-major-photoset{
  position:           relative;
  left:               -100px;
}
.group0{
  position:            relative;
  height:              100%;
  width:               100%;
}
.round_circles{
  position:            relative;
}
.circle {
  background-image:    url("res/Layer 0/Layer 8.png");
  position:            absolute;
  left:                -57px;
  top:                 105px;
  width:               540px;
  height:              690px;
  z-index:             1;
}
.inner_circle {
  border-radius:       50%;
  background-image:    url("res/Layer 0/Layer5.png");
  position:            absolute;
  left:                0px;
  top:                 162px;
  width:               571px;
  height:              572px;
  z-index:             2;
}
.legs {
  position:            absolute;
  z-index:             3;
  left:                -150px;

}
.pillsImageWrapper{
  position:            absolute;
  top:                 470px;
  z-index:             3;
}
.pillsPrice{
  position:            absolute;
  z-index:             9;
  font-size:           34px;
  color:               white;
}
.pillsPricePos-1{
  left:                 343px;
}
.pillsPricePos-2{
  top:                  132px;
  left:                 450px;
}
.pillsGrassImgWrapper{
  position:             absolute;
  top:                  480px;
  left:                 260px;
  z-index:              2;
}
.section0-infobar{
  position:            absolute;
  display:             flex;
  left:                230px;
  height:              70px;
  margin-top:          20px;
}
.infobar-list{
  display:             flex;
  justify-content:     space-around;
  white-space: nowrap;
  margin-left:         100px;
  top:                 0px;
  height:              40px;
}
.logo-and-text{
  left:                0px;
  top:                 0px;
  display:             flex;
  position:            relative;
}
.logo-and-text span{
  font-size:           26px;
  color:               rgb(56, 51, 52);
  line-height:         1.818;
  text-align:          left;
  margin-left:         20px;
  top:                 15px;
  position:            relative;
}
.smart1{
  height:              50px;
}
.smart2{
  position:            relative;
  height:              35px;
  top:                 30px;
}
.imgAndText{
  display:            flex;
  width:              auto;
}
.imgAndText p {
  margin:              0px 10px 0px 15px;
  font-size:           17px;
  font-family:         "Roboto";
  color:               #666666;
  #font-style:          italic;
  padding: 0px;
}
.section0-product-presentation{
  display:             flex;
  flex-direction:      row;
  position:            relative;
  left:                550px;
  top:                 100px;
  width:               450px;
}
.section0-prodPresHeader-text{
  font-size:           44px;
  font-family:         "Roboto";
  color:               rgb(56, 51, 52);
  line-height:         1.5;
  text-align:          left;
  width:               100%;
  height:              166px;
  font-weight:         900;
}
.section0-prodPresHeader-text p{
  font-size:            60px;
  margin-block-start:   0px;
  margin-block-end:     0px;
  margin-inline-start:  0px;
  margin-inline-end:    0px;
  line-height:          0.7;
}
.underline_orange{
  display:             inline-block;
  border-bottom:       5px solid rgb(255, 107, 0);
  line-height:         0.8;
}
.underline_green{
  display:             inline-block;
  border-bottom:       5px solid rgb(167, 201, 61);
  line-height:         0.8;
}
.underline_small{
  border-bottom-width: 3px;
}
.section0-prodDescription{
  margin-top:          50px;
  width:               450px;
}
.subsection0{
  display:             flex;
  flex-wrap:           wrap;
  width:               100%;
  height:              115px;
}
#subsection0-arrow{
  position:            absolute;
  left:                25px;
  bottom:              125px;
}
.greenBack {
  border-radius:       50%;
  background-color:    rgb(232, 237, 201);
  position:            relative;
  left:                0px;
  top:                 0px;
  width:               60px;
  height:              60px;
  margin-right:        25px;
}
.greenCircle{
  border-radius:       50%;
  background-color:    rgb(167, 201, 61);
  position:            relative;
  left:                7px;
  top:                 7px;
  width:               46px;
  height:              46px;
  font-size:           20px;
  font-family:         "Roboto";
  color:               rgb(255, 255, 255);
  font-weight:         bold;
  line-height:         2.25;
  text-align:          center;
}
.subsection0-text {
  font-size:           22px;
  font-family:         "Roboto";
  color:               rgb(68, 68, 68);
  line-height:         1.2;
  text-align:          left;
}
#section0-prodDiscount {
  width:     258px;
}
#section0-prodDiscount-text{
  top: 10px;
    width: 174px;
    height: 27px;
        flex-direction: row;
}
#section0-prodDiscount-legContent{
  display:            flex;
  padding: 10px;
}
#legend-wrapper{
  margin-bottom:      70px;
}
legend{
  margin:              auto;
  padding:             0px;
  margin-bottom:       40px;
}
#section0-prodDiscount-text-wrapper{
    position: relative;
    border-bottom: 7px solid #a8ca3f;
    border-left: 7px solid #a8ca3f;
    border-right: 7px solid #a8ca3f;
    border-radius: 0px 0px 15px 15px;
    padding: 12px 10px 10px;
    top: 18px;
    background-color: #f3f9ff;
}
#section0-prodDiscount-text{
  display: flex;
flex-direction: row;
left: 0px;
position: relative;
top: -12px;
width: auto;
height: 27px;
z-index: 9;
height: 14px;
}
#section0-prodDiscount fieldset{
  overflow:           hidden;
  background-color:   #FFFFFF;
  border:             7px solid #a8ca3f;
  border-radius:      15px;
  min-width:          220px;
  text-align:         center;
  position:           relative;
  height:             100%;
  padding:            0px;
}
#section0-priceText{
  display:            flex;
}
#section0-discountDateExpire{
  position:           relative;

  font-size:          20px;
  font-family:        "Roboto";
  color:              rgb(0, 0, 0);
  line-height:        1.1;
  text-align:         center;
}
#crossedPriceImg{
  position: absolute;
  left:     20px;
  margin-top: 5px;
}
.oldPriceText {
  left:               5px;
  font-size:          34px;
  font-family:        "Roboto";
  color:              rgb(11, 11, 11);
  flex-grow:          0.5;
  line-height:        0.706;
  line-height:        1;
}
#newPriceText {
  flex-grow:         0.5;
  font-size:         34px;
  font-family:       "Roboto";
  color:             rgb(0, 0, 0);
  line-height:       0.706;
  background-color:  rgb(255,188,2);
  padding:           5px;
  border-radius:     5px;
}
.oldPriceHeader {
  font-size:         14px;
  font-family:       "Roboto";
  color:             rgb(102, 102, 102);
  line-height:       1.714;
  text-align:        center;
}
.newPriceHeader{
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  line-height: 1.714;
  text-align: center;
}
.formPhoto{
  width:       19px;
  height:      23px;
  position:    relative;
  top:         42px;
  left:        20px;
}
.form-input{
    display: block;
    width: auto;
    background-color: rgb(238, 242, 247);
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 32px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    padding: 25px 25px 20px 55px;
    margin-bottom: -12px;
}
.form-submit-wrapper{
      background: linear-gradient(to right, #ffbe02, #ffcc02);
      border-radius: 32px;
      width:   var(--form-submit-width);
      padding: 4px;
      align-self: center;
      margin-top: 25px;
}
.form-submit{
    font-size: 28px;
    font-weight: 700;
    padding:9px 13px;
    line-height: 15px;
    border: 2px solid #ffd24e;
    background: linear-gradient(to right, #ffbe02, #ffcc02);
    border-radius: 32px;
    width:           var(--form-submit-width);
    cursor: url(../img/Cursor.cur), pointer;
}
.form-small-text{
  font-size: 16px;
}
.form-remains-text{

}
.form-green-text{
  color:  #a8ca3f;
}
.form-dataProtection{
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 5px;
  background-color:    #eef2f7;
  width:               100%;
}
.form-dataProtImg{
}
.section1{
  position:relative;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  height: var(--section-height);
}.section1-wrapper{
  width: 1500px;
}
.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.section1-title{
  font-size: 48px;
  color: rgb(56, 51, 52);
  line-height: 48px;
}
h2{
  margin-bottom: 0px;
}
.section1-subtitle{
  position: relative;
    font-size: 24px;
    color: rgb(43, 40, 40);
    font-weight: bold;
    line-height: 1.167;
}
#section1-fungus-consequences{
  display: flex;
  justify-content: space-around;
}
.fungus-subsection{
  display: flex;
  flex-direction: column;
}
.fungus-subsection-visual{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
.fungus-img{
  border-radius: 50%;
}
.fungus-img-caption{
  font-size: 22px;
  text-align: left;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.fungus-subsection-text{
  font-size: 18px;
  text-align: left;
  display: block;
}
.silver-bar{
  margin-top: 20px;
  margin-bottom: 7px;
  height: 3px;
  width: 50px;
  background: #becbd8;
}
.fungus-semi-circle{
  position: absolute;
  margin-left: -19px;
  margin-top: -21px;
}
.fungus-circle{
  position: absolute;
  margin-left: 130px;
  z-index: 9;
  color: white;
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 50%;
  vertical-align: bottom;

}
#fungus-circle-1{
  background-color: rgb(236, 154, 106);
}
#fungus-circle-2{
background-color: rgb(228, 118, 67);
}
#fungus-circle-3{
background-color: rgb(236, 91, 25);
}
.section1-statistics-legend{
  padding-left: 50px;
  padding-right: 50px;
}
.section1-statistics-fieldset{
  display: flex;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  border-color: rgb(244, 211, 187);
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 200px;
}
.section1-statistics-text{
  position: relative;
  top: -25px;
  font-size: 22px;
  color: rgb(0, 0, 0);
  line-height: 1.273;
  text-align: center;
}
#section2{
  position: relative;
  background: url('res/Layer 2/background.png') no-repeat;
  width: var(--section-width);
  height: calc(var(--section-height) + 218px);
  background-size: cover;
}
.section2-wrapper{
  height: 100%;
  width: 100%;
}
.section2-wrapper::after{
  content: '';
  position:           absolute;
  width:              100%;
  height:             109px;
  background:         url("res/Layer 0/waves.png");
  z-index:            1;
  transform:          scaleX(2);
  bottom:             -90px;
}
.section2-wrapper::before{
  content: '';
  position:           absolute;
  width:              100%;
  height:             109px;
  background:         url("res/Layer 0/waves.png");
  z-index:            1;

  transform: rotateX(180deg) scaleX(2);
  top:                0px;
}
