:root{

}
.flex-column-content{
  display:            flex;
  flex-direction:     column;
  flex-grow:          0.5;
}
#section0{
  position:         absolute;
  left:             0px;
  top:              0px;
  width:            100vw;
  height:           750px;
  z-index:          4;
  background:       no-repeat url("res/Layer 0/background.png");
}
.opacity{
  width:            100vw;
  height:           750px;
  background:       no-repeat url("res/Layer 0/opacity.png");
}
.section0-major-photoset{
  position:         relative;
  left:             15vw;
}
.group0{
  position:          relative;
  height:            100%;
  width:             100%;
}
.round_circles{
  position:          relative;
}
.circle {
  background-image:   url("res/Layer 0/Layer 8.png");
  position:           absolute;
  left:               -57px;
  top:                105px;
  width:              540px;
  height:             690px;
  z-index:            1;
}
.inner_circle {
  border-radius:       50%;
  background-image:    url("res/Layer 0/Layer5.png");
  position:            absolute;
  left:                0px;
  top:                 162px;
  width:               571px;
  height:              572px;
  z-index:             2;
}
.legs {
  position:            absolute;
  z-index:             3;
  left:                -150px;

}
.pillsImageWrapper{
  position:            absolute;
  top:                 470px;
  z-index:             3;
}
.pillsGrassImgWrapper{
  position:            absolute;
  top:                 480px;
  left:                260px;
  z-index:             2;
}
.section0-infobar{
  position:            absolute;
  display:             flex;
  left:                calc(20vw + 320px);
}
.logo-and-text{
  display:             flex;
  position:            relative;
  left:                -80px;
}
.logo-and-text strong{
  font-size:           26px;
  font-family:         "Roboto";
  color:               rgb(56, 51, 52);
  line-height:         1.818;
  text-align:          left;
  margin-left:         20px;
  top:                 15px;
  position:            relative;
  font-weight:         900;
}
.smart1{
  height:              50px;
}
.smart2{
  position:            relative;
  height:              35px;
  top:                 30px;
}
.imgAndText{
  display:            flex;
}
.imgAndText p {
  position:            relative;
  margin-left:         20px;
  min-width:           100px;
  line-height:         1.125;
  max-width:           160px;
  font-size:           18px;
  font-family:         "Roboto";
  color:               rgb(102, 102, 102);
  font-style:          italic;
  z-index:             9;
}
.imgAndText img{
  height:              45px;
  #width:              40px;
  margin-top:          15px;
}
.section0-product-presentation{
  display:             flex;
  flex-direction:      row;
  position:            relative;
  left:                calc(20vw + 540px);
  top:                 100px;
  width:               450px;
}
.section0-prodPresHeader-text{
  font-size:           44px;
  font-family:         "Roboto";
  color:               rgb(56, 51, 52);
  line-height:         1.5;
  text-align:          left;
  width:               100%;
  height:              166px;
  font-weight:         900;
}
.section0-prodPresHeader-text p{
  font-size:            60px;
  margin-block-start:   0px;
  margin-block-end:     0px;
  margin-inline-start:  0px;
  margin-inline-end:    0px;
  line-height:          0.7;
}
.underline_orange{
  display:             inline-block;
  border-bottom:       5px solid rgb(255, 107, 0);
  line-height:         0.8;
}
.underline_green{
  display:             inline-block;
  border-bottom:       5px solid rgb(167, 201, 61);
  line-height:         0.8;
}
.underline_small{
  border-bottom-width: 3px;
}
.section0-prodDescription{
  width:               450px;
}
.subsection0{
  display:             flex;
  flex-wrap:           wrap;
  width:               100%;
  height:              115px;
}
#subsection0-arrow{
  position:            absolute;
  left:                25px;
  bottom:              125px;
}
.greenBack {
  border-radius:       50%;
  background-color:    rgb(232, 237, 201);
  position:            relative;
  left:                0px;
  top:                 0px;
  width:               60px;
  height:              60px;
  margin-right:        40px;
}
.greenCircle{
  border-radius:       50%;
  background-color:    rgb(167, 201, 61);
  position:            relative;
  left:                7px;
  top:                 7px;
  width:               46px;
  height:              46px;
  font-size:           20px;
  font-family:         "Roboto";
  color:               rgb(255, 255, 255);
  font-weight:         bold;
  line-height:         2.25;
  text-align:          center;
}
.subsection0-text {
  font-size:           22px;
  font-family:         "Roboto";
  color:               rgb(68, 68, 68);
  line-height:         1.2;
  text-align:          left;
}
#section0-prodDiscount {
}
#section0-prodDiscount-text{
  top: 10px;
    width: 174px;
    height: 27px;
        flex-direction: row;
}
#section0-prodDiscount-legContent{
  display:            flex;
}
#legend-wrapper{
  margin-bottom:      70px;
}
legend{
  position:           absolute;
  margin-top:         -40px;
  margin-left:        35px;
  padding-top:        40px;

  display:            flex;
  width:              170px;
  border-bottom:      7px solid #a8ca3f;
  border-left:        7px solid #a8ca3f;
  border-right:       7px solid #a8ca3f;
  border-radius:      7px;
  z-index:            3;
}
#section0-prodDiscount-text-wrapper{
  left:               5px;
  z-index:            9;
}
#section0-prodDiscount-text{
  display:            flex;
  flex-direction:     row;
  left:               0px;
  position:           relative;
  top:                10px;
  width:              174px;
  height:             27px;
  z-index:            9;
}
#section0-prodDiscount fieldset{
  overflow:           hidden;
  background-color:   #FFFFFF;
  margin-top:         10px;
  margin-left:        20px;
  border:             7px solid #a8ca3f;
  border-radius:      15px;
  min-width:          220px;
  text-align:         center;
  position:           relative;
  height:             100%;
}
#section0-priceText{
  display:            flex;
}
#section0-discountDateExpire{
  font-size:          20px;
  font-family:        "Roboto";
  color:              rgb(0, 0, 0);
  line-height:        1.1;
  text-align:         center;
}
#crossedPriceImg{
  position: absolute;
  left:     20px;
  margin-top: 5px;
}
.oldPriceText {
  left: 5px;
  font-size: 34px;
  font-family: "Roboto";
  color: rgb(11, 11, 11);
  flex-grow: 0.5;
  line-height: 0.706;
  line-height: 1;
}
#newPriceText {
  flex-grow: 0.5;
  font-size:         34px;
  font-family:       "Roboto";
  color:             rgb(0, 0, 0);
  line-height:       0.706;
  background-color:  rgb(255,188,2);
  padding:           5px;
  border-radius:     5px;
}
.oldPriceHeader {
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(102, 102, 102);
  line-height: 1.714;
  text-align: center;
}
.newPriceHeader{
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  line-height: 1.714;
  text-align: center;
}
.formPhoto{
  width:       15px;
  position:    absolute;
}
.Shape_1 {
  background-color: rgb(232, 120, 69);
  position: absolute;
  left: 1640px;
  top: 424px;
  width: 21px;
  height: 24px;
  z-index: 128;
}

.Rounded_Rectangle_4 {
  border-radius: 5px;
  background-image: -moz-linear-gradient( 0deg, rgb(255,188,2) 0%, rgb(255,206,2) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(255,188,2) 0%, rgb(255,206,2) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(255,188,2) 0%, rgb(255,206,2) 100%);
  position: absolute;
  left: 1733px;
  top: 273px;
  width: 106px;
  height: 40px;
  z-index: 114;
}
