.section1{
  position:relative;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  min-height: var(--section-height);
}
.section1-wrapper{
  width: 75vw;
  max-width: 2000px;
}

#section1-fungus-consequences{
  display:         flex;
  justify-content: space-around;
}
.fungus-subsection{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.fungus-subsection-visual{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
.fungus-img{
  border-radius: 50%;
}
.fungus-img-caption{
  font-size: 22px;
  text-align: left;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.fungus-subsection-text{
  font-size: 18px;
  text-align: left;
  display: block;
}
.silver-bar{
  margin-top: 20px;
  margin-bottom: 7px;
  height: 3px;
  width: 50px;
  background: #becbd8;
}
.fungus-semi-circle{
  position: absolute;
  margin-left: -19px;
  margin-top: -21px;
}
.fungus-circle{
  position: absolute;
  margin-left: 130px;
  z-index: 9;
  color: white;
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 50%;
  vertical-align: bottom;

}
#fungus-circle-1{
  background-color: rgb(236, 154, 106);
}
#fungus-circle-2{
background-color: rgb(228, 118, 67);
}
#fungus-circle-3{
background-color: rgb(236, 91, 25);
}
.statistics-legend{
  padding-left: 50px;
  z-index: 5;
  padding-right: 50px;
}
.statistics-text{
  position: relative;
  top: -25px;
  font-size: 22px;
  color: rgb(0, 0, 0);
  line-height: 1.273;
  text-align: center;
}
